.risk-tree {
	margin: 0;
	padding: 0;

	li {
		margin: 0;
		padding: 0;

		a {
			padding: 5px 5px 5px 0;
			font-size: 16px;
			text-decoration: none;
			display: grid;
			grid-template-columns: 26px auto;
			align-items: start;
			border-radius: $border-radii;

			&:not(.current):hover {
				// background-color: rgba(black, 0.07);

				.title {
					text-decoration: underline;
				}
			}

			&.current {
				background-color: color-mix(in lch, #{colour-link}, black 90%);
				color: black;
				cursor: default;
			}

			&:before {
				font-family: fontello;
				display: block;
				content: '';
				// color: var(--colour-accent);
				text-align: center;
				transform: scale(0.9);
			}

			&.module:before {
				content: '#{$glyph-cubes}';
			}

			&.profile-question:before {
				content: '#{$glyph-building}';
			}

			&.risk:before {
				content: '#{$glyph-oira-risk}';
			}
		}

		ol {

			li {
				padding: 0 0 0 14px;

				&:first-child {
					margin-top: 5px;
				}

				&:last-child {
					margin-bottom: 5px;
				}
			}

			display: none;
		}

		&.current ol,
		&.navigation-in-path ol {
			display: block;
		}
	}
}