$max-body-text-height: 150px; // Use this variable to tune the desired max body height.

.tool-info-sheet {
	max-width: 1000px;
	margin: 0 auto;

	.tool-meta-data {
		@include screen-size(small) {
			margin-bottom: 40px;
		}	

		@include screen-size(medium-large) {
			padding-right: 90px;
			width: 35%;
			box-sizing: border-box;
			float: left;
			position: -webkit-sticky;
			position: sticky;
			top: 50px;
		}



		.tool-tags {
			margin-bottom: 15px;
		}
	}

	.tool-description {

		@include screen-size(medium-large) {
			width: 65%;
			float: left;
		}

		h1 {
			margin: 0 0 0.5em 0;
		}

		.tool-summary {
			font-weight: bold;
		}

		.tool-text {
			margin-bottom: 40px;

			.body {
				overflow: auto;
				position: relative;
				// background: silver;

				&.show-less {
					height: $max-body-text-height;
				}

				&.show-more {
					.more-bar {
						display: none;
					}
				}

				&::-webkit-scrollbar {
				  display: none;
				}

				-ms-overflow-style: none;  /* IE and Edge */
			    scrollbar-width: none;  /* Firefox */

				.more-bar {
					position: sticky;
					bottom: 0;
					opacity: 0;
					margin: 0;
					margin-bottom: 1px;
					pointer-events: none;
					background: linear-gradient(0deg, rgba($colour-base, 1) 50px, rgba($colour-base, 0) 100%);
					overflow: hidden;
					padding-top: 100px;
					margin-top: -1 * ($button-height + 100px);

					&.bumped-bottom {
						// background-color: yellow;
						opacity: 1;
						pointer-events: auto;
					}

					.pat-button {
						margin: 0;
						float: left;
					}
				}
			}
		}
	}
}